@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;






*{
  
  font-family: "Red Hat Display", sans-serif ;
  font-optical-sizing: auto;
}
.dm-sans {
   font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto;
}
.red-hat{
  font-family: "Red Hat Display", sans-serif  !important;
  font-optical-sizing: auto;
}
.inter{
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
}
.arrow-shadows{
  box-shadow: 0px 1px 2px 0px #1018280D;

}
.z-basic{
  z-index: 3 !important;
}
.z-pro{
  z-index: 600 !important;
}


.capsule-btn{
  box-shadow: 4px 4px 32px 0px rgba(86, 233, 171, 0.10);
}
.flow-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x-1 {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.flow-hide-x {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x::-webkit-scrollbar{
  width: 0;
  height: 0;
  cursor: pointer;
}
.flow-hide::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.hide-scroll{
    scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.pattern-bg  {
background-image: url('./assets/png/pattern.png');
background-repeat: no-repeat;
background-size: cover; 
height: 106px;
}

.input-shadow{
  box-shadow: 0px 1px 2px 0px #0000000D;

}

.tip-gradient{
  background: linear-gradient(90deg, rgba(205, 247, 179, 0.5) -11.69%, rgba(250, 188, 78, 0.5) 41.81%, rgba(14, 121, 255, 0.5) 109.07%);
filter: blur(40px);
}

.carding-shadow{
  box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.10);
}
.export-shadow{
  box-shadow: 0px 1px 2px 0px #0000000D;

}

.watch-shadow{
  box-shadow: 4px 4px 32px 0px #56E9AB1A;

}
.offering-shadow {
  box-shadow: 2px 2px 24px 0px #0000001A;

}

.verify-shadow{
  box-shadow: 2px 2px 24px 0px #0000001A;

}

.btn-shadow{
  box-shadow: 0px 1px 2px 0px #1018280D;

}
.bankcard-shadow{
  box-shadow: 0px 1px 2px 0px #1018280D;

}